<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingkai.mediamanagesyscommon.mapper.ScreenSeatMapper">

    <sql id="bast_table">
        mesys_screen_seat
    </sql>


    <sql id="base_column">
      id,screen_arrange_id,screening_hall_x,screening_hall_y,status,
      is_purchased,create_time,update_time,creator,updator,is_deleted
    </sql>


    <insert id="insertBatch" parameterType="java.util.List">
     insert into mesys_screen_seat(screen_arrange_id,screening_hall_x,screening_hall_y,status,is_purchased)
     values
     <foreach collection='seatList' item='seat' open='' separator=',' close=';'>
      (#{seat.screenArrangeId},#{seat.screeningHallX},#{seat.screeningHallY},#{seat.status},#{seat.isPurchased})
     </foreach>



    </insert>


    <select id="selectTest" resultType="java.lang.Integer">
      select count(1) from
      <include refid="bast_table"/>
    </select>

</mapper>