<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mingkai.orderserviceapi.mapper.ScreenArrangeMapper">

    <sql id="base_table">
      mesys_screen_arrange
    </sql>

    <sql id="base_column">
        id,cinema_screen_id,movie_id,arrange_date,
        time_scope_start,time_scope_end,price,language,
        create_time,update_time,creator,updator,
        is_deleted
    </sql>


    <!-- a  b  c 电影Id 影院id 影院名 地址  -->

    <!--所以这第一步应该是选择 放映这场电影的影院 -->

    <!--然后通过影院id 来找相关的排场信息  这一步要传入的应该是movieId 以及影院Id 来查找相关的排片放映厅-->

    <!-- 下一个就是根据排场 来选择放映厅  -->

    <!--购票选影院 根据movieId 以及 地区 分页 来查询-->
    <select id="selectArrangeByPage"
            resultType="com.mingkai.systemcommon.model.Do.cinema.CinemaDo">
       select c.id,c.cinema_name,c.cinema_area_id,c.cinema_area_full_name,c.cinema_full_address
       from mesys_screen_arrange as a
       left join mesys_cinema_screen as b on a.cinema_screen_id = b.id
       left join mesys_cinema as c on b.cinema_id = c.id
       <where>
           a.movie_id = #{cinemaPagePo.movieId}
           <if test="cinemaPagePo.areaId != null">
               and c.cinema_area_id = #{cinemaPagePo.areaId}
           </if>
       </where>
    </select>


</mapper>