<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingkai.orderserviceapi.mapper.TicketDetailMapper">

    <sql id="base_table">
      mesys_ticket_detail
    </sql>

    <sql id="base_column">
      id,order_id,user_id,seat_id,price,
      create_time,update_time,creator,updator,is_deleted
    </sql>


    <select id="orderSearch" resultType="com.mingkai.systemcommon.model.Vo.ticket.TicketDetailVo">
          <!-- 订单要展示的信息 订单编号 创建时间 影院 影院id 放映厅 放映厅id 席位信息 用户id 用户名 -->
        SELECT
        t.order_id,
        t.create_time,
        t.price,
        mc.id as cinema_id,
        mc.cinema_name,
        sr.id as screening_id,
        sr.screening_hall_name,
        s.screening_hall_x,
        s.screening_hall_y,
        a.movie_id,
        a.time_scope_start,
        md.movie_name,
        u.id as user_id,
        u.user_name
        FROM
        mesys_ticket_detail t
        LEFT JOIN mesys_screen_seat s ON t.seat_id = s.id
        LEFT JOIN mesys_screen_arrange a ON s.screen_arrange_id = a.id
        LEFT JOIN mesys_cinema_screen c ON a.cinema_screen_id = c.id
        LEFT JOIN mesys_cinema mc ON c.cinema_id = mc.id
        LEFT JOIN mesys_screen_room sr ON c.screen_hall_id = sr.id
        left join mesys_movie_detail md on a.movie_id = md.movie_id
        left join mesys_user u on t.user_id = u.id
        <where>
            <if test="ticketSearchPo.createDate != null and ticketSearchPo.createDate != ''">
                date(t.create_time) = #{ticketSearchPo.createDate}
            </if>
            <if test="ticketSearchPo.userName != null and ticketSearchPo.userName != ''">
                and u.user_name like CONCAT('%',#{ticketSearchPo.userName},'%')
            </if>
            <if test="ticketSearchPo.cinemaName != null and ticketSearchPo.cinemaName != ''">
                and mc.cinema_name like CONCAT('%',#{ticketSearchPo.cinemaName},'%')
            </if>
        </where>
        order by #{ticketSearchPo.orderColumn} #{ticketSearchPo.orderType}
    </select>



    <select id="orderEchartsData" resultType="com.mingkai.systemcommon.model.Do.EchartsDo">
        select year(create_time) as year,MONTH(create_time) as month,count(1) as count
        from mesys_ticket_detail
				where is_deleted = 1 and status = 1
        group by year(create_time),MONTH(create_time)
        having CONCAT(year,LPAD(month,2,0)) BETWEEN CONCAT(#{startYear},LPAD(#{startMonth},2,0))
        and CONCAT(#{endYear},LPAD(#{endMonth},2,0))

    </select>


</mapper>


